@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Raleway:100,300,400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-family: 'Fugaz One', cursive;
}

// Disable up/down arrows for number inputs
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
